/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');


/* Shared Styles */
* {
    font-family: 'Mulish', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
}

/* Header section styles start */

header{
    background: #FFF;
    /* width: 1440px;
    height: 6940px; */
}

nav h3{
    padding-right: 520px;
}

.travel-red{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}

.hero-normal{color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}

nav img{
    padding-left: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

nav > ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 40px;
}

.home-color-red a{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}


nav ul li a{
    text-decoration: none;
}
/* Header section styles end */


/* Banner section styles start */
 .banner-img{
    width: 100%;
    padding: 10px 0px 20px 0px;
 }


 .banner{
    align-items: center;
    text-align: center;
 }


 .banner-content{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;  
    border-radius: 16px;
    margin-left: 50px;
    }

    .banner-title{
        padding-top: 110px;
        color: #FFF;
        font-family: Mulish;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        margin-bottom: 5px;
    }

    .banner-description{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        padding-left: 250px;
        padding-right: 250px;
    }
/* Banner section styles end */
/* destination-section */
.destination-section{
    text-align: center;
}


.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 40px;
    }


.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 400px;
    padding-right: 400px;
    }

    /* destination-section-end */

/* Tours - picture section */

.tours-pic{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 135px;
    margin-right: 135px;
}


.tours-pic-first{
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    margin-right: 40px;
}

.tours-pic-second{
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
}

.tours-pic-first h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

.tours-pic-second h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}
/* main section */

.popular-tours-section{
    display: flex;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;

}

.tours-description{
    width: 50%;
}

.tours-description p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.tours-description li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.tour-title-1{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tours-picture{
    height: 100%;
    padding-left: 40px;
}

/* footer section start */

.footer-section{
    display: flex;
    padding-left: 600px;
    padding-right: 600px;
    margin-top: 30px;
}


.footer-description p{
    text-align: center;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
   
}

.footer-social-link{
    text-align: center;

}

.footer-social-link img{
    padding: 10px;
    }

/* footer section end */
