/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');


/* Shared Styles */
* {
    font-family: 'Mulish', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    border: none;
}

/* Header section styles start */

select{
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border: none;
}

input{
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border: none;
}


header{
    background: #FFF;
    /* width: 1440px;
    height: 6940px; */
}

nav h3{
    padding-right: 520px;
}

.travel-red{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}

.hero-normal{color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}

nav img{
    padding-left: 10px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

nav > ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 40px;
}

.home-color-red a{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}


nav ul li a{
    text-decoration: none;
}
/* Header section styles end */


/* Banner section styles start */
 .banner-img{
    width: 100%;
    padding: 10px 0px 20px 0px;
 }


 .banner{
    align-items: center;
    text-align: center;
 }


 .banner-content{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;  
    border-radius: 16px;
    margin-left: 50px;
    }

    .banner-title{
        padding-top: 110px;
        color: #FFF;
        font-family: Mulish;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        margin-bottom: 5px;
    }

    .banner-description{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        padding-left: 250px;
        padding-right: 250px;
    }
/* Banner section styles end */
/* destination-section */
.destination-section{
    text-align: center;
}


.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 40px;
    }


.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 400px;
    padding-right: 400px;
    }

    /* destination-section-end */

/* Tours - picture section */


/* tours-pic */

.tours-pic{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 135px;
    margin-right: 135px;
}


.tours-pic-first{
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    margin-right: 40px;
}

.tours-pic-second{
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
}

.tours-pic-first h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

.tours-pic-second h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}



/* tours-pic1 */

.tours-pic1{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 40px;
}


.tours-pic-third{
    background-image: url('../Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    margin-right: 40px;

}

.tours-pic-fourth{
    background-image: url('../Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    margin-left: 0px;
}

.tours-pic-fifth{
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    margin-left: 20px;
}

.tours-pic-third h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

.tours-pic-fourth h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

.tours-pic-fifth h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

/* tours-pic2 */

.tours-pic2{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 20px;
}


.tours-pic-sixth{
    background-image: url('../Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    margin-right: 40px;
}

.tours-pic-seventh{
    background-image: url('../Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
}

.tours-pic-sixth h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

.tours-pic-seventh h3{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding-top: 90px;
}

/* Why choose us */

.why-us-section{
    text-align: center;
    margin-top: 30px;
}

.why-choose-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 2px;
}

.why-choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 400px;
    margin-right: 400px;
}

/* Hotel and services */

.hotels-services{
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 30px;
}


.hotel-info{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 10px;
    padding-top: 10px;
}


.service-info{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.price-gaurantee-info{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 30px;
    margin-left: 400px;
    padding-left: 10px;
    padding-top: 10px;
}

.price-gaurantee-info img{
    margin-top: 30px;
    margin-left: 20px;
}

.price-gaurantee-info h4, p{
        margin-left: 20px;
}

.service-info img{
    margin-top: 30px;
    margin-left: 20px;
}

.service-info h4{
    margin-left: 20px;
}

.hotel-info h4{
    margin-left: 20px;
}

.hotel-info img{
    margin-top: 30px;
    margin-left: 20px;
}


/* Deals and Discounts section */
 
.tour-to-satorini-1 > img{
    margin-left: 40px;
    margin-right: 40px;
}
.tour-to-satorini-1 ul li{
    font-size: 14px;
    padding-left: 0px;
    text-align: center;
    margin-left: 2px;
}

.tour-to-satorini-1 h4{
    font-size: 20px;
    color: #FF5400;
    font-family: Mulish;
}

.tour-to-satorini-1 h3{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.tour-to-satorini-1 p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;  
}

.tour-to-satorini{
    
    border-radius: 16px;
    padding: 30px;
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin-left: 135px;
    margin-right: 135px;
}

.tour-to-satorini-1{
    margin-left: 500px;
    margin-top: 50px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-right: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
}

/* deals 2nd row start */

.tour-to-satorini2{
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
    background-image: url('../Images/Group\ 40.png');
    background-repeat: no-repeat;
    margin-bottom: 20px;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}

.tour-to-satorini-2{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-top: 50px;
}

.tour-to-satorini2 .satorini-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
}


.tour-to-satorini2 .satorini-des{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
    margin-right: 50px;
}

.tour-to-satorini2 .price-info{
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 20px;
}

.tour-to-satorini2 .btn-primary{
    margin-left: 20px;
    border: none;
}

.tour-to-satorini2 nav{
    margin-left: 20px;
    margin-top: 30px;
}

.tour-to-satorini2 nav p{
    padding-left: 3px;
}
/* deals 2nd row end */

.deals-discounts-info{
text-align: center;
margin-top: 30px;
}


.deals-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.deals-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-left: 400px;
    margin-right: 400px;
}


/* perfect-place-info */

.perfect-place-info{
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 30px;
}

.perfect-title{
    color: #131318;
    width: 448px;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}


.perfect-content > p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.perfect-content > ul li{
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}

.mountain-title{
    background-image: url('../Images/Group\ 40089.png');
    width: 610px;
    height: 424px;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
}

.mountain-title h4{
    padding-top: 150px;
    font-size: 24px;
font-style: normal;
font-weight: 700;
margin-left: 70px;
margin-right: 70px;
}

/* main section */

.popular-tours-section{
    display: flex;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;

}

.tours-description{
    width: 50%;
}

.tours-description p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.tours-description li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.tour-title-1{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tours-picture{
    height: 100%;
    padding-left: 40px;
}

/* Newsletter and discount section */

.newsletter-discount-sec{
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 40px;
    
}

.newsletter-sec{
    width: 50%;
    margin-right: 30px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 10px;
}
.newsletter-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.newsletter-des{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    }


.name-field input{
    width: 493px;
    height: 52px;
    border-radius: 8px;
    color: #1313180D;
    background: rgba(19, 19, 24, 0.05);
    border: 2px solid;
    margin-bottom: 10px;
}

.email-field input{
    width: 493px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 2px solid;
}

.discount-sec{
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    width: 672px;
    height: 422px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 16px;
}


.btn-subscribe-1{
    width: 493px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 10px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    margin-top: 50px;
}


/* footer section start */

.footer-section{
    display: flex;
    padding-left: 600px;
    padding-right: 600px;
    margin-top: 30px;
}


.footer-description p{
    text-align: center;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
   
}

.footer-social-link{
    text-align: center;
    

}

.footer-social-link img{
    padding: 10px;
    color: #131318;
    
    }

/* footer section end */



/* media queries */

@media screen and (max-width:576px) {
    .footer-section{
        flex-direction: column;
    }
}